@font-face {
  font-family: "Inter", sans-serif;
  src: local("Inter"),
      url(./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

* {
  font-family: "Inter", sans-serif;
}

body{
  background-color: #23252C;
  width: 317px;
  margin: 40px auto;
  
}

.wrapper{
  background-color:#1A1B21;;
  border-radius: 11px;
}

